.todos{
    max-width: 700px;
    width: 100%;
    margin: 40px auto 0px auto;
    background: #d7d7d700;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px #dddddd2b, -5px -5px 28px #dddddd91;
}
.todo__form{}

.todo__form form{}

.todo__form form h2{text-align: center;margin-bottom: 40px;}

.todo__form form input[type="text"]{}

input[type="text"]{
    width: calc(100% - 130px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.form_wrapper, .todo{
    display: flex;
    align-items: center;

}
.todo__form form #add{}
button{
    display: inline-block;
    outline: 0;
    border:none;
    background: aqua;
    font-weight: bold;
    width: 120px;
    padding: 10px 5px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    transition: all .3s;
}


.todo__lists{
    margin-top: 50px;
}
.todo{
    margin-bottom: 20px;
}
.todo input[type="text"]{}
#delete{}